.main {
  position: relative;
}

.main_banner {
  overflow: hidden;
}

.main_banner_img {
  height: 420px;
}

.main_banner_img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0  auto;
}

.main_banner_btn {
  position: absolute;
  width: 150px;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0  auto;
  text-align: center;
}

.main_banner_btn a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background: white;
  border: 1px solid  #eee;
}

.main_banner_btn a:hover {
  background: #999;
}

.main_banner_btn .active {
  background: #999;
}

.main_banner .main_banner_perv {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 200px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
  background: #999;
  z-index: 888;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #666;
  cursor: pointer;
}

.main_banner .main_banner_next {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 200px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 50%;
  background: #999;
  z-index: 888;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #666;
  cursor: pointer;
}
